.fancy {
    color: bisque;
    font-family: "Gowun Dodum", sans-serif;
}

body {
    overscroll-behavior: none;
    /* or overscroll-behavior-y: none; for just vertical */
}

.back {
    background-image: url(assets/sticky.jpg);
    height: 100vh;
    /* background-position: top; */
    background-repeat: no-repeat;
    background-size: cover;
}

.magic-card {
    position: absolute;
    top: 106%;
    left: 60%;
}


.color {
    color: rgb(19, 8, 49);
    font-family: 'Kavoon', serif;
}